@media (max-width: 375px) {
  body {
    font-family: "Roboto", sans-serif;
  }
  .navbar ul {
    flex-wrap: wrap;
  }

  .navbar ul li a {
    text-decoration: none;
    font-size: 9px;
    padding: 0.3rem;
    color: #333;
  }

  .navbar img {
    height: 50px;
  }
  .navbar img {
    margin-left: -45px;
    margin-top: -10px;
  }

  /* ########################## header ############################# */

  .header {
    background: url(https://a.slack-edge.com/59662/marketing/img/homepage/video/brand-campaign_hero-poster.jpg)
      no-repeat center center/cover;
    width: 100vw;
    height: 70vh;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
  }

  .h1 h1 {
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 20px;
    padding-right: 30px;
  }

  .h4 {
    padding-right: 20px;
  }

  .header-button {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .btn1 {
    color: #fff;
    font-size: 1rem;
    background: none;
    background: #4a154b;
    padding: 20px;
    border-radius: 5px;
  }

  .btn2 {
    color: #4a154b;
    font-size: 1rem;
    background: none;
    padding: 20px;
    border-radius: 5px;
  }

  header p {
    font-size: 16px;
    font-weight: 300;
  }

  /* ################# Showcase-vedio ########### */

  .showcase-his {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .showcase-container h1 {
    color: #000000;
    font-size: 28.8px;
    margin: 19.296px 0px 0px;
  }

  .showcase-his > div {
    width: 100%;
  }

  .showcase-container p {
    font-size: 16px;
    margin: 16px 0px;
    padding-left: 40px;
    align-items: center;
    color: #000000;
  }

  .showcase-container video {
    margin: 10px 0px 0px;
    font-size: 19.2px;
    width: 100%;
  }

  /* /* ############# showcase-his ##########  */

  .showcase-his {
    display: flex;
    flex-direction: column;
  }

  .his-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .his-container h1 {
    color: #000000;
    font-size: 23px;
    margin: 23px 0px;
  }

  .his-container p {
    color: #000000;
    font-size: 19.2px;
    margin: 19.2px 0px;
  }

  .showcase2 {
    margin: 9.6px 0px;
    font-weight: 800;
  }

  /* ############ showcase3 ######### */

  .show-video video {
    width: 375px;
  }

  .showcase3 {
    display: flex;
    flex-direction: column;
  }

  .show {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .show-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    line-height: 50px;
    line-height: 30px;
  }

  .show-content h1 {
    font-size: 28.8px;
    margin: 19.296px 0px;
  }

  .show-content p {
    font-size: 19.2px;
    margin: 16px 0px;
    width: fit-content;
    height: fit-content;
  }

  /* ############## logo ####### */

  .read-content h1 {
    font-size: 28.8px;
    margin: 34.304px 0px;
  }

  .logo-img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-img img {
    width: 300px;
    padding: 5px;
  }

  .logo-icon img {
    padding: 50px 10px;
  }

  .logo-content p {
    font-size: 16px;
    padding: 20px 0px;
  }

  .logo-content h1 {
    font-size: 28.2px;
    padding: 0px 0px;
  }

  /* ############## read story ############## */

  .read-story {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 0px;
  }

  .read-box {
    width: 375px;
  }

  .read-img {
    display: flex;
    flex-direction: column;
  }

  /* ########## workspace ############# */

  .workspace {
    background: #4a154b;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
  }
  .workspace h1 {
    font-size: 1.8rem;
    color: #fff;
    padding: 50px 0px;
  }
  .btn4 {
    color: #fff;
    font-size: 1rem;
    background: none;
    padding: 12px 16px;
    border-radius: 5px;
    margin: 0px;
  }

  .btn3 {
    color: #4a154b;
    font-size: 1rem;
    background: #fff;
    padding: 12px 16px;
    border-radius: 5px;
    margin: 0px;
    margin-right: 20px;
  }

  /* ########### About ########## */

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
  }

  .about img {
    width: 25px;
  }

  .about-box h3 {
    font-size: 0.8rem;
  }

  .about-box li {
    list-style: none;
    padding: 0px 0px;
  }

  .about-box a {
    text-decoration: none;
    color: #333;
    font-size: 0.7rem;
  }

  .about ul {
    margin-left: -30px;
  }

  /* ########## footer ########### */
  .footer {
    background: rgb(228, 227, 227);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
  }

  .footer li {
    list-style: none;
  }

  .footer-contant ul {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-contant a {
    text-decoration: none;
    padding: 4px;
    color: #333;
    font-size: 13px;
  }

  .social {
    margin: 10px 0px;
  }

  .social ul {
    display: flex;
    flex-direction: row;
  }

  .social i {
    text-decoration: none;
    padding: 4.8px;
    font-size: 11.3px;
  }

  .footer2 h6 {
    background: #999;
    font-size: 8.343px;
    text-align: center;
    padding: 10px 0px;
  }
}
